
/* Base styling */

body, p {
  background-color: #3276B1;
}

p, input, select {
  text-align: center;
}

input, select {
  font-size: 20px !important;
}

p {
  margin: 0;
}

/* Custom style elements */

.block {
  width: 100%;
  height: 60px !important;
}

h3.block {
  margin: 0;
  padding: 15px 0;
  text-align: center;
}

p.block {
  line-height: 60px;
}

.block.white {
  background-color: white;
}

.block.green {
  background-color: green;
}

.block.red {
  background-color: red;
}

.block.yellow {
  background-color: yellow;
}

/* Override bootstrap styles */

.btn {
  border-radius: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}
